# Book Recommender System

In [7]:
import pandas as pd
import numpy as np

In [21]:
ratings = pd.read_csv("Data/Ratings.csv")
print(f"Ratings Data Shape: {ratings.shape} \n")
print(f"{ratings.dtypes}\n")
print(ratings.head())

Ratings Data Shape: (1149780, 3)

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [22]:
books = pd.read_csv("Data/Books.csv")
print(f"Books Data Shape: {books.shape} \n")
print(f"{books.dtypes}\n")
print(books.head(3))

Books Data Shape: (271360, 8)

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

         ISBN            Book-Title           Book-Author Year-Of-Publication  \
0  0195153448   Classical Mythology    Mark P. O. Morford                2002
1  0002005018          Clara Callan  Richard Bruce Wright                2001
2  0060973129  Decision in Normandy          Carlo D'Este                1991

                 Publisher                                        Image-URL-S  \
0  Oxford University Press  http://images.amazon.com/images/P/0195153448.0...
1    HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...
2          HarperPerennial  http://images.amazon.com/images/P/0060973129.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...

/var/folders/0f/xqjk7pr56mjd12xvy1w435_40000gn/T/ipykernel_57296/2859729214.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Data/Books.csv")

In [23]:
users = pd.read_csv("Data/Users.csv")
print(f"Userse Data Shape: {users.shape} \n")
print(f"{users.dtypes}\n")
print(users.head())

Userse Data Shape: (278858, 3)

User-ID       int64
Location     object
Age         float64
dtype: object

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN